* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1B2838;
    color: #FCF5E5;
    font-family: Roboto, Helvetica, sans-serif;
}

nav {
    color: #e8e2da;
    background-color: #171D25;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img {
    width: 150px;
    border-radius: 30px;
    transition: 0.8s ease;
}

nav img:hover {
    transform: scale(1.1);
}
#search-container {
    display: flex;
    flex-direction: column;
}

#search-container label {
    margin-bottom: 10px;
}

#search-game {
    width: 450px;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    transition: 0.8s ease;
    text-align: center;
}

#search-game:hover,
#search-game:focus {
    box-shadow: 0px 8px 5px crimson;
}

a {
    text-decoration: none;
    color: #e8e2da;
    font-weight: 600;
}
.options ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}
.options li a{
    font-size: 18px;
    padding-right: 20px;
}
.options li a:hover {
    color: #F08E75;
    transition: 0.3s ease;
}

.bi-brightness-high-fill,
.bi-globe {
    cursor: pointer;
}

.bi-brightness-high-fill:hover {
    filter: drop-shadow(0 0 0.9rem rgb(255, 255, 255));
}

.bi-globe:hover {
    filter: drop-shadow(0 0 0.9rem rgb(0, 65, 204));
}
#products-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}

.flashcard {
    cursor: pointer;
    font-size: 15px;
    width: 330px;
    transition: 0.6s ease;
    opacity: 80%;
    padding: 20px;
    border-radius: 30px;
}

.flashcard:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 1rem crimson);
    opacity: 100%;
}

.img-cover img {
    width: 330px;
}

.product-info {
    background-color: #0D0D0C;
    line-height: 32px;
    padding: 10px;
    margin-top: -4px;
}

#footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #171D25;
}
.company-name{
    margin: 20px;
    font-size: 40px;
}
.footer-links{
    font-size: 10px;
}
.footer-links ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}
.footer-links ul li a{
    padding: 8px 16px;
    font-size: 20px;
    font-family: Roboto, Helvetica, sans-serif;
    color: #e8e2da;
    text-transform: uppercase;
    font-weight: 650;
}
.footer-links ul li a:hover{
    background-color: rgb(77, 77, 77);
    border-radius: 30px;
    transition: 0.5s ease;
}