* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1B2838;
    color: #FCF5E5;
    font-family: Roboto, Helvetica, sans-serif;
}

nav {
    color: #e8e2da;
    background-color: #171D25;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .options ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.options ul li {
    display: inline;
    font-size: 20px;
    padding: 0 30px 0;
    color: white;
}

.logo-section {
    width: 00px;
}

*/
.options {
    display: flex;
    align-items: flex-end;
}

.options ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.options li:hover {
    color: #F08E75;
    transition: 0.3s ease;
}

.bi-brightness-high-fill,
.bi-globe {
    cursor: pointer;
}

.bi-brightness-high-fill:hover {
    filter: drop-shadow(0 0 0.9rem rgb(255, 255, 255));
}

.bi-globe:hover {
    filter: drop-shadow(0 0 0.9rem rgb(0, 65, 204));
}

nav img {
    width: 150px;
    border-radius: 30px;
    transition: 0.8s ease;
}

nav img:hover {
    transform: scale(1.1);
}

#search-container {
    display: flex;
    flex-direction: column;
}

#search-container label {
    margin-bottom: 10px;
}

#search-game {
    width: 450px;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    transition: 0.8s ease;
    text-align: center;
}

#search-game:hover,
#search-game:focus {
    box-shadow: 0px 8px 5px crimson;
}

a {
    text-decoration: none;
    color: #e8e2da;
    font-weight: 600;
}

/* main {
    display: flex;
    flex-direction: row;
    padding: 50px;
} */
#products-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}

.flashcard {
    cursor: pointer;
    font-size: 15px;
    width: 330px;
    transition: 0.6s ease;
    opacity: 80%;
    padding: 20px;
    border-radius: 30px;
}

.flashcard:hover {
    transform: scale(1.1);
    /* box-shadow: 15px 0px 40px black; */
    filter: drop-shadow(0 0 1rem crimson);
    opacity: 100%;
}

.img-cover img {
    width: 330px;
}

.product-info {
    background-color: #0D0D0C;
    line-height: 32px;
    padding: 10px;
    margin-top: -4px;
}