* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b2838;
  color: #fcf5e5;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#main {
  display: flex;
}
#toggleMenu{
    user-select: none;
}
#menu {
  background: black;
  position: absolute;
  left: -500px;
  top: 175px;
  margin: -90px 0 0 -50px;
  padding: 50px;
  padding-bottom: 15px;
  list-style: none;
  transition: left 0.2s;
  width: 220px;
}
#menu li{
    font-size: 20px;
    padding-bottom: 30px;
}
#toggleMenu input:checked ~ ul {
    left: 40px;
}
nav {
  color: #e8e2da;
  background-color: #171d25;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 150px;
  border-radius: 30px;
  transition: 0.8s ease;
}
.nav-menu {
  display: none;
}
nav .logo-image:hover {
  transform: scale(1.1);
}

#search-container {
  display: flex;
  flex-direction: column;
}

#search-container label {
  margin-bottom: 10px;
}

#search-game {
  width: 450px;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  transition: 0.8s ease;
  text-align: center;
}

#search-game:hover,
#search-game:focus {
  filter: drop-shadow(0 0 0.8rem rgb(68, 87, 253));
}

a {
  text-decoration: none;
  color: #e8e2da;
  font-weight: 600;
}

.options ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
}

.options li a {
  font-size: 18px;
  padding-right: 20px;
}

.options li a:hover {
  color: #f08e75;
  transition: 0.3s ease;
}

.bi-brightness-high-fill,
.bi-globe {
  cursor: pointer;
}

.bi-brightness-high-fill:hover {
  border-bottom: 2px solid #f08e75;
}

.bi-globe:hover {
  border-bottom: 2px solid #f08e75;
}

#products-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
}

#products-section img {
  width: 330px;
  height: 154px;
}

.flashcard {
  cursor: pointer;
  font-size: 15px;
  width: 330px;
  transition: 0.5s ease;
  opacity: 90%;
  margin: 20px;
}

.flashcard:hover {
  transform: translateY(-5%);
  filter: drop-shadow(0 0 1rem crimson);
  opacity: 100%;
}

.img-cover img {
  width: 330px;
}

.product-info {
  background-color: #0d0d0c;
  line-height: 32px;
  padding: 10px;
  margin-top: -4px;
}

/* end of products section */
.trending-box {
  width: fit-content;
  background-color: black;
  text-align: center;
  line-height: 1.3;
  position: sticky;
  border-radius: 20px;
  top: 0px;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 60px 90px 0 0; /* top right bottom left */
}

.trending-box:hover {
  filter: drop-shadow(0 0 1rem crimson);
}

.trending-box h2 {
  padding: 10px;
}

.trending-description {
  width: 440px;
  padding: 20px;
}

#footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171d25;
}

.company-name {
  margin: 30px;
  font-size: 40px;
}

.company-name span {
  font-weight: 700;
}

.footer-links ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 10px;
  margin: 30px;
  gap: 20px;
}

.footer-links ul li a {
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 30px;
  font-family: Roboto, Helvetica, sans-serif;
  color: #e8e2da;
  text-transform: uppercase;
  font-weight: 650;
  transition: 0.5s ease;
}

.footer-links ul li a:hover {
  background-color: rgb(77, 77, 77);
  border-radius: 30px;
  transition: 0.5s ease;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.socials ul {
  display: flex;
  gap: 70px;
}

.socials li {
  list-style: none;
  transition: 0.3s ease;
}

.socials li:hover {
  transform: translateY(-7%);
}

/*---------->MEDIA QUERY<----------*/

@media only screen and (max-width: 1092px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu img {
    width: 70px;
  }
  .nav-menu {
    width: 300px;
    margin-left: 10px;
  }
  .logo-image {
    width: 115px;
  }
  #toggleMenu input {
    position: absolute;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
    top: 15px;
    left: 15px;
    width: 60px;
    height: 60px;
  }

  aside {
    display: none;
  }
  #products-section {
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 920px) {
  #search-container,
  .options {
    display: none;
  }
  .nav-menu {
    display: block;
    z-index: 100;
  }
}
